{{ define "main" }}
<section class="bg-light pt-5">
    <div class="container px-4 pt-lg-4">
        <div class="d-flex flex-column align-items-center justify-content-between g-5 pt-2">
            <div class="col-12 col-lg-7 mt-lg-3 pe-0">
                <h1 class="display-2 fw-bold lh-1 mb-3 text-center" data-aos="fade-right" data-aos-delay="0">AML Screening for Small Businesses</h1>
                <p class="lead text-center mb-0" data-aos="fade-right" data-aos-delay="50">Sanctions Screening platform designed for offline businesses, offering real-time checks against 250+ global sanction lists</p>
            </div>
            <div class="col-12 col-lg-4 my-4 pe-0">
                <div class="text-center" data-aos="fade-right" data-aos-delay="100">
                    <div class="d-flex flex-column gap-2">
                        <input type="text" id="emailInput" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-addon2">
                        <a id="button-addon2" type="button" href="#" class="btn btn-primary" onclick="redirectToRegister()">Start Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10" data-aos="fade-left" data-aos-delay="200">
                <div class="d-block">
                    <img src="/images/banner.png" class="img-fluid" style="margin-bottom:-4rem" alt="Bootstrap Themes">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO 2 -->
 
<section id="product" class="py-5">
    <div class="container px-4 py-2">
        <div class="row justify-content-between align-items-center g-5 py-5">
            <div class="col-12 col-lg-6" data-aos="fade-up">
                <h1 class="display-5 fw-bold lh-1 mb-3">Advanced Sanctions Screening</h1>
                <p class="lead">A compliance solution offering AML screening, PEP screening, and cryptocurrency wallet checks to meet compliance requirements</p>
            </div>
            <div class="col-12 col-lg-6" data-aos="fade-up">
                <div class="row row-cols-1 row-cols-xl-2 g-4">
                    <div class="col d-flex align-items-start">
                        <i class="bi bi-file-text-fill fs-4 text-primary flex-shrink-0 me-3"></i>
                        <div>
                            <h3 class="fw-bold mb-0 fs-3 text-body-emphasis">Sanctions Screening</h3>
                            <p>Quickly identify sanctioned individuals, organizations or vehicles</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <i class="bi bi-person-badge-fill fs-4 text-primary flex-shrink-0 me-3"></i>
                        <div>
                            <h3 class="fw-bold mb-0 fs-3 text-body-emphasis">PEP Screening</h3>
                            <p>Identify PEPs to reduce corruption and compliance risks.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <i class="bi bi-exclamation-diamond-fill fs-4 text-primary flex-shrink-0 me-3"></i>
                        <div>
                            <h3 class="fw-bold mb-0 fs-3 text-body-emphasis">Criminal Watchlists</h3>
                            <p>Screen persons and companies against global criminal watchlists</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <i class="bi bi-wallet-fill fs-4 text-primary flex-shrink-0 me-3"></i>
                        <div>
                            <h3 class="fw-bold mb-0 fs-3 text-body-emphasis">Cryptocurrency Wallets</h3>
                            <p>Screen crypto wallets for sanctions and illicit activity.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO 3 -->
<div class="container px-4 py-2 py-lg-5">
    <div class="row justify-content-between align-items-center g-5 py-2 py-lg-5">
        <div class="col-lg-5 order-1 order-lg-1" data-aos="fade-up">
            <h1 class="display-5 fw-bold lh-1 mb-3">Global Sanction Lists</h1>
            <p class="lead">Access a comprehensive database of 250+ global sanction lists to scan persons, companies, PEPs, vehicles, and cryptocurrency wallets.</p>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">                    Advanced Matching Algorithms</p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">                    Detailed Match Reports</p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">                    Case Management</p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-1">
                <i class="bi bi-check-circle fs-6 text-primary"></i>
                <p class="lead fs-6 m-0">                    Scan Reviews</p>
            </div>
        </div>
        <div class="col-lg-7 order-0 order-lg-0" data-aos="fade-up">
            <div>
                <img class="img-fluid rounded-5" src="/images/lists.png" alt="Sanctions Screening Dashboard" width="700" height="500">
            </div>
        </div>
    </div>
</div>

<!-- HERO 4 -->
<div class="container px-4 py-2 py-lg-5">
    <div class="row justify-content-between align-items-center g-5 py-2 py-lg-5">
        <div class="col-lg-5 order-1 order-lg-0" data-aos="fade-up">
            <h1 class="display-5 fw-bold lh-1 mb-3">Efficient Case Management</h1>
            <p class="lead">Simplify compliance by manually reviewing scan results, mitigating risks, and maintaining an audit trail for case tracking.</p>
        </div>
        <div class="col-lg-7 order-0 order-lg-1" data-aos="fade-up">
            <div>
                <img class="img-fluid rounded-5" src="/images/case.png" alt="AML Monitoring Dashboard" width="700" height="500">
            </div>
        </div>
    </div>
</div>

<!-- HERO 5 -->
<div class="container px-4 py-2 py-lg-5">
    <div class="row justify-content-between align-items-center g-5 py-2 py-lg-5">
        <div class="col-lg-5 order-1 order-lg-1" data-aos="fade-up">
            <h1 class="display-5 fw-bold lh-1 mb-3">Detailed Scan Reports</h1>
            <p class="lead">Generate detailed reports for every scan, highlighting matches, risks, and actions to simplify AML compliance workflows and decision-making.</p>
        </div>
        <div class="col-lg-7 order-0 order-lg-0" data-aos="fade-up">
            <div>
                <img class="img-fluid rounded-5" src="/images/report.png" alt="Detailed Scan Reports Interface" width="700" height="500">
            </div>
        </div>
    </div>
</div>


<!-- PRICING -->
<section id="pricing" class="pt-5">
    <div class="container pt-5">
        <div class="text-center" data-aos="fade-up">
            <h6 class="text-primary fw-bold lh-1 mb-3">Pricing</h6>
            <h1 class="fw-bold display-5 lh-1 mb-3">Plans that suit your business</h1>
            <p class="lead text-dark-50">Choose the plan that best fits your screening needs</p>
        </div>
    </div>
    <section>
        <div class="container-fluid px-0">
            <ul class="nav nav-tabs justify-content-center mt-5" id="pricingTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="smallbusiness-tab" data-bs-toggle="tab" data-bs-target="#smallbusiness" type="button" role="tab" aria-controls="smallbusiness" aria-selected="true">Small Business</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="enterprise-tab" data-bs-toggle="tab" data-bs-target="#enterprise" type="button" role="tab" aria-controls="enterprise" aria-selected="false">Enterprise</button>
                </li>
            </ul>
        </div>
    </section>
        <div class="container pt-5">
            <div class="tab-content" id="pricingTabsContent">
            <!-- Personal Plans -->
            <div class="tab-pane fade show active" id="smallbusiness" role="tabpanel" aria-labelledby="smallbusiness-tab">
                <div class="row pb-5">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card bg-light rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <h3 class="fw-bold lh-1">Basic</h3>
                                <p class="lead fs-6 my-3">Best for individuals requiring reliable AML screening.</p>
                                <div class="my-3">
                                    <div>
                                        <span class="display-5 fw-bold lh-1 mb-3 text-dark">$19</span>
                                        <span class="small text-muted">/month</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">50 Scans</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Global Sanction Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PEP Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">AML Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Organization Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Crypto Wallet Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan History</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan Review</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PDF Reporting</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">1 Users</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card bg-light rounded-4 h-100 border-0" data-aos="fade-up" data-aos-delay="100">
                            <div class="card-body p-4 rounded-3 border-0">
                                <h3 class="fw-bold lh-1">Plus</h3>
                                <p class="lead fs-6 my-3">Ideal for small businesses with moderate AML screening capacity.</p>
                                <div class="my-3">
                                    <div>
                                        <span class="display-5 fw-bold lh-1 mb-3 text-dark">$39</span>
                                        <span class="small text-muted">/month</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">100 Scans</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Global Sanction Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PEP Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">AML Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Organization Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Crypto Wallet Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan History</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan Review</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PDF Reporting</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">3 Users</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card bg-light rounded-4 h-100 border-0" data-aos="fade-up" data-aos-delay="200">
                            <div class="card-body p-4 rounded-3 border-0">
                                <h3 class="fw-bold lh-1">Pro</h3>
                                <p class="lead fs-6 my-3">Perfect for growing businesses with expanded AML screening volume.</p>
                                <div class="my-3">
                                    <div>
                                        <span class="display-5 fw-bold lh-1 mb-3 text-dark">$99</span>
                                        <span class="small text-muted">/month</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">250 Scans</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Global Sanction Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PEP Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">AML Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Organization Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Crypto Wallet Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan History</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan Review</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PDF Reporting</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">5 Users</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Enterprise Plans -->
            <div class="tab-pane fade" id="enterprise" role="tabpanel" aria-labelledby="enterprise-tab">
                <div class="row pb-5">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card bg-light rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <h3 class="fw-bold lh-1">Enterprise Basic</h3>
                                <p class="lead fs-6 my-3">Best for businesses needing up to 500 screenings per month.</p>
                                <div class="my-3">
                                    <div>
                                        <span class="display-5 fw-bold lh-1 mb-3 text-dark">$175</span>
                                        <span class="small text-muted">/month</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">500 Scans</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Global Sanction Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PEP Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">AML Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Organization Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Crypto Wallet Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan History</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan Review</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PDF Reporting</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">10 Users</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card bg-light rounded-4 h-100 border-0" data-aos="fade-up" data-aos-delay="100">
                            <div class="card-body p-4 rounded-3 border-0">
                                <h3 class="fw-bold lh-1">Enterprise Plus</h3>
                                <p class="lead fs-6 my-3">Ideal for enterprises handling up to 1,000 screenings monthly.</p>
                                <div class="my-3">
                                    <div>
                                        <span class="display-5 fw-bold lh-1 mb-3 text-dark">$350</span>
                                        <span class="small text-muted">/month</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">1,000 Scans</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Global Sanction Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PEP Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">AML Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Organization Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Crypto Wallet Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan History</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan Review</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PDF Reporting</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">10 Users</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card bg-light rounded-4 h-100 border-0" data-aos="fade-up" data-aos-delay="200">
                            <div class="card-body p-4 rounded-3 border-0">
                                <h3 class="fw-bold lh-1">Enterprise Pro</h3>
                                <p class="lead fs-6 my-3">Designed for organizations requiring up to 2,000 screenings each month.</p>
                                <div class="my-3">
                                    <div>
                                        <span class="display-5 fw-bold lh-1 mb-3 text-dark">$700</span>
                                        <span class="small text-muted">/month</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">2,000 Scans</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Global Sanction Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PEP Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">AML Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Organization Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Crypto Wallet Screening</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan History</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">Scan Review</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">PDF Reporting</p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mb-1">
                                    <i class="bi bi-check-circle fs-6 text-primary"></i>
                                    <p class="lead fs-6 m-0">10 Users</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- USE CASES -->
<section id="cases" class="bg-light py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-5">
                <div class="text-center" data-aos="fade-up">
                    <h6 class="text-primary fw-bold lh-1 mb-3">TrueCheck in Action</h6>
                    <h1 class="fw-bold display-5 lh-1 mb-3">Use Cases</h1>
                    <p class="lead">TrueCheck, sanctions screening solution serves businesses across various regulated industries.</p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <div class="col d-flex align-items-start">
                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        <i class="bi bi-house-door-fill fs-4 p-3 text-bg-primary rounded-3"></i>
                                    </div>
                                    <div>
                                        <h5 class="mb-2">Real Estate Agencies</h5>
                                        <p class="lead fs-6 mb-0">Screen buyers, sellers, and tenants, including short-term rental hosts on platforms like Airbnb, to reduce compliance risks.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <div class="col d-flex align-items-start">
                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        <i class="bi bi-currency-exchange fs-4 p-3 text-bg-primary rounded-3"></i>
                                    </div>
                                    <div>
                                        <h5 class="mb-2">Gold and Currency Dealers</h5>
                                        <p class="lead fs-6 mb-0">Identify high-risk customers and transactions to meet regulatory requirements and avoid financial crimes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <div class="col d-flex align-items-start">
                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        <i class="bi bi-currency-bitcoin fs-4 p-3 text-bg-primary rounded-3"></i>
                                    </div>
                                    <div>
                                        <h5 class="mb-2">Crypto Payments</h5>
                                        <p class="lead fs-6 mb-0">Verify cryptocurrency wallets and transactions to ensure compliance and mitigate risks of financial fraud.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <div class="col d-flex align-items-start">
                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        <i class="bi bi-truck fs-4 p-3 text-bg-primary rounded-3"></i>
                                    </div>
                                    <div>
                                        <h5 class="mb-2">Supply Chain and Logistics</h5>
                                        <p class="lead fs-6 mb-0">Screen vendors and business partners to avoid dealing with sanctioned entities and ensure regulatory compliance.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <div class="col d-flex align-items-start">
                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        <i class="bi bi-bank2 fs-4 p-3 text-bg-primary rounded-3"></i>
                                    </div>
                                    <div>
                                        <h5 class="mb-2">Law Firms and Accountants</h5>
                                        <p class="lead fs-6 mb-0">Conduct due diligence on clients and transactions to meet compliance standards and reduce legal and financial risks.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pb-3">
                        <div class="card rounded-4 h-100 border-0" data-aos="fade-up">
                            <div class="card-body p-4 rounded-3 border-0">
                                <div class="col d-flex align-items-start">
                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        <i class="bi bi-backpack-fill fs-4 p-3 text-bg-primary rounded-3"></i>
                                    </div>
                                    <div>
                                        <h5 class="mb-2">Education Institutions</h5>
                                        <p class="lead fs-6 mb-0">Screen international students to ensure compliance with local and global regulations and mitigate potential risks.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
<!-- FAQ -->
<section id="faq" class="py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-5" data-aos="fade-up">
                <div class="text-center">
                    <h6 class="text-primary fw-bold lh-1 mb-3">FAQ</h6>
                    <h1 class="fw-bold display-5 lh-1 mb-3">Frequently Asked Questions</h1>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="accordion accordion-flush" id="accordionFlushExample" data-aos="fade-up">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                                <h5>What is TrueCheck?</h5>
                            </button>
                        </h2>
                        <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">TrueCheck is a comprehensive AML screening platform that allows businesses to screen persons, companies, vehicles, and cryptocurrency wallets against over 250 global sanction lists. Our solution provides real-time screening, continuous monitoring, and efficient scan review capabilities to meet compliance requirements.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                <h5>Which services does TrueCheck provide?</h5>
                            </button>
                        </h2>
                        <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">TrueCheck offers AML Screening, Politically Exposed Persons (PEPs) Screening, Sanction List Screening, Criminal Watchlist Screening, Sanctioned Cryptocurrency Wallet Checks, Case Management with manual reviews, Scan History, and detailed PDF reporting.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                <h5>Who should use TrueCheck?</h5>
                            </button>
                        </h2>
                        <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">TrueCheck is ideal for offline businesses and individuals in regulated industries such as real estate agencies, gold and currency dealers, money transfer companies, supply chain and logistics, insurance, luxury retail, companies accepting crypto payments, law firms, accountants, and education institutions.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                                <h5>Can TrueCheck screen Politically Exposed Persons (PEPs)?</h5>
                            </button>
                        </h2>
                        <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">Yes, TrueCheck can screen Politically Exposed Persons (PEPs). Identifying PEPs is crucial because they hold positions of power or influence, making them higher risk for corruption, bribery, or money laundering. Screening PEPs helps businesses mitigate reputational and compliance risks.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                                <h5>Can TrueCheck screen global criminal watchlists?</h5>
                            </button>
                        </h2>
                        <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">Yes, TrueCheck can screen global criminal watchlists. Screening criminal watchlists is essential to identify individuals or organizations involved in illegal activities, reducing the risk of financial crimes and ensuring compliance with regulatory standards.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="faq5">
                                <h5>Can TrueCheck screen cryptocurrency wallets?</h5>
                            </button>
                        </h2>
                        <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">Yes, TrueCheck identifies and flags sanctioned cryptocurrency wallets to help mitigate compliance risks.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false" aria-controls="faq5">
                                <h5>Which sanction lists does TrueCheck cover?</h5>
                            </button>
                        </h2>
                        <div id="faq7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">TrueCheck covers over 250 global sanction lists, including OFAC, UN, EU, UK HMT, and many more. Our global watchlist database is continuously updated with the latest sanction data.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="false" aria-controls="faq5">
                                <h5>Which countries are supported by TrueCheck?</h5>
                            </button>
                        </h2>
                        <div id="faq8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fs-6 lead">TrueCheck’s sanction screening compliance solutions are supported in all countries.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- RECENT POSTS SECTION -->
  <section id="recent-posts">
    <div class="container">
        <div class="text-center pt-3" data-aos="fade-up">
            <h6 class="text-primary fw-bold lh-1 mb-3">Blog</h6>
            <h1 class="fw-bold display-5 lh-1 mb-3">Latest Updates</h1>
        </div>

        <div class="row">          {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}          <div class="col-md-4 mb-4">
              <div class="card h-100 border-0 p-4" data-aos="fade-up" data-aos-delay="100">                    {{ with .Resources.GetMatch "cover*" }} <!-- Look for featured image in the bundle -->
                      <a href="{{ $.Permalink }}"> <!-- Use $.Permalink to link to the post -->
                          <img src="{{ .Permalink }}" class="card-img-top rounded-1 img-fluid" alt="{{ $.Title }}" style="height:160px; object-fit:cover; object-position: center;">
                      </a>                    {{ end }}                    <div class="py-3">
                      <span class="badge text-bg-primary mb-2">                        {{ .Date | time.Format ":date_medium" }}                      </span>
                        <h4 class="card-title">
                          <a class="text-decoration-none text-dark stretched-link" href="{{ .Permalink }}">                            {{ .Title }}                          </a>
                        </h4>
                    </div>
                </div>
            </div>            {{ end }}        </div>
    </div>
</section>
<script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "WebApplication",
            "name": "TrueCheck",
            "image": "https://truecheck.io/share.png",
            "url": "https://truecheck.io/",
            "publisher": {
                "@type": "Organization",
                "name": "Truezone"
            },
            "applicationCategory": "BusinessApplication",
            "browserRequirements":["requires HTML5 support","requires JavaScript"],
            "offers":{
                "@type":"AggregateOffer",
                "highPrice":"299.00",
                "lowPrice":"89.00",
                "offerCount":"3",
                "priceCurrency":"USD"
            }
        }
    ]
</script>
<script>
    function redirectToRegister() {
        const emailInput = document.getElementById('emailInput').value;
        if (emailInput) {
            // Construct the URL with the email parameter
            const registerUrl = `https://app.truecheck.io/register?user=${encodeURIComponent(emailInput)}`;
            // Redirect the user
            window.location.href = registerUrl;
        } else {
            alert('Please enter your email address.');
        }
    }
</script>
{{ end }}